@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #f3db08;
}

/* hedaings & logos */


h1, h2 {
    font-family: Archivo, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    color: #f3db08;
}

#hero-outer {
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #f3db08;

}

    
#logo {
    float: left;
    font-size: 300%;
    padding: 10px;
}


#chef-cooking {
    height: 700px;
    width: 100%;
    background-image: url('images/chef-cook.jpg');

}

#cover-text, #cover-text h2{
    color:#f3db08;

}

#cover-text {
    font-size: 90%;
    font-family: Archivo, sans-serif;
    letter-spacing: 4px;

    width: 200px;
    height: 200px;
    padding: 30px;

    border-style: solid;
    border-color: rgba(185, 47, 47, 0.7);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(206, 62, 62, 0.7);

    bottom: 40px;
    right: 150px;}

#cover-text {
    position:absolute;

    text-align: center;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
 }


}

#what-we-do {
    font-size: 110%;
    font-family: Archivo, sans-serif;
    letter-spacing: 4px;
    color: white;


    height: 300px;
    width: 100%;
    background-color:black;
    border-top: 4px solid;
    padding-left: 40px;
    float: left;
    margin: 0 auto
    

}
#what-we-do, h1 {
   
    text-align: center;

}

 /* navigation links */

 #menu {
     font-size: 100%;
     letter-spacing: 2px;
 }

 #menu, #logo {
     line-height: 75px;
 }

 #menu a:hover {
border-bottom: 1px solid #fffdfd;

 }
 .active a:hover{
    border-bottom: 1px solid #fffdfd;
 }

 #demo-section {
     background-color:rgba(185, 47, 47, 0.7)
 }
 


 #menu li {
     float: right;
     list-style-type: none;
     margin-right: 30px;
 }

 #menu a{
     text-decoration: none;
     color: inherit;
 }







